.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop{
    display: flex;
    align-items: center;
}

.messageImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    color: #000;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    color: gray;
    margin: 5px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: #007AFF;
    color: white;
}