.navbarContainer {
    height: 50px;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbarLeft {
    flex: 3;
}

.navbarCenter {
    flex: 5;
}

.navbarRight {
    flex: 4;
}