.rightbarContainer{
    flex: 3.5;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.birthdayContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.birthdayImg{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 14px;
}

.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 20px;
    font-weight: 700;
}

.rightbarFriendList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.rightbarInfo{
    margin-bottom: 30px;
}

.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 600;
    margin-right: 10px;
    color: #555;
}

.rightbarInfoValue{
    font-weight: 300;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.rightbarFollowingName{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightbarFollowButton{
    width: 70%;
    padding: 5px 7px;
    border: none;
    background-color: #1877f2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

.rightbarFollowButton:focus{
    outline: none;
}

.rightbarFollowButton:hover {
    background-color: red; /* Change background color to red on hover */
}

.rightbarFollowButton.follow:hover {
    background-color: green; /* Change background color to green on hover when following */
    box-shadow: 0 0 10px green; /* Add green glow effect */
}